/* :root{
    --colorOne:rgb(7, 247, 255);
    --colorTwo:rgb(224, 12, 58);
    --colorTres:rgb(109, 136, 131);

} */
.seller{
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    display: flex;
    flex-direction: column;
}
.containerSeller{
    margin: 0;
    width: 100%;
}
header{
    background-color:var(--colorTwo);
    display:flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    height: 70px;
}
#userAcc{
display: flex;
}
.sellerInfo{
    display: flex;
    border-bottom: 2px solid gray;
    cursor: pointer;
    justify-content: space-around;
    margin-top: 15px;
    /* box-shadow:0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07)
                ,0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(75, 45, 45, 0.07) */
}
.sellerInfo span{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--colorTwo);
    margin: 15px 8px;
    color: white;
    width: 15%;
    height: 30px;
    padding: 6px;
    border-radius: 5px;
}
.sellerItem{
    color: var(--colorTwo);
    padding: 15px;
    margin: 15px 15px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07)

}
.sellerItem h3{
    color: var(--colorTres);
    text-align: center;
}
.sellerReview{
    background-color:var(--colorTwo);
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    line-height: 25px;
    margin: 15px 15px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07)
}

label{
    color: var(--colorTres);
}
button{
    background-color: var(--colorTwo);
}